/* 로그인 */
.login_bg {background:none;}
.login_txt2 {display:inline-block; width:80px;}
#login_cont_new div.login_area{width:700px; height:247px; margin:0 auto; margin-top:180px; border-bottom:1px solid #ddd;}
#login_cont_new div.login_area div.login_top{height:60px; border-bottom:5px solid #134f89;margin: 0;width: 100%;}
#login_cont_new div.login_area div.login_top p{ text-align:center; color:#222; font-size:22px; font-weight:bold; margin-top:35px;}
#login_cont_new div.login_area div.login_middle{width:470px; padding:50px 0; margin:0 auto;}
#login_cont_new div.login_middle div.login_tit img{margin-left:185px; margin-top:50px; margin-bottom:30px;}
#login_cont_new div.login_middle div.login_id input{width:280px; height:35px; border:1px solid #134f89; text-indent:10px; font-size:12pt;}
#login_cont_new div.login_middle div {padding:0 15px 0 0;}
.login_pw{float:left; margin:5px 0;}
#login_cont_new div.login_middle div.login_pw input{width:280px; height:35px; border:1px solid #134f89; text-indent:10px; font-size:12pt;}
#login_cont_new div.login_middle div.login_btn{float:right; margin-top:-88px;}
#login_cont_new div.login_middle div.login_btn a{display:block; background:#16416b; width:80px; text-align:center; padding-top:30px; height:53px; color:#fff;}

#login_cont_new div.login_middle div.login_save{float:left; margin-left:58px; margin-top:10px; font-size:11px;}
#login_cont_new div.login_middle div.login_save input{margin-right:5px; margin-top:-2px;}
.login_txt{width:360px; margin:0 auto; padding:20px 0; font-size:13px; color:#444; line-height:20px;}