<?xml version='1.0' encoding='utf-8'?>
<Server port="8022" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Connector  port="8080"
                protocol="HTTP/1.1"
                connectionTimeout="20000"
                secretRequired="false"
                secret="tagoplus"
                URIEncoding="UTF-8"
                redirectPort="8443"
                compression="on"
                compressableMimeType="text/html, text/xml, text/plain, text/javascript, text/css, application/javascript, application/json"
                compressionMinSize="2048"
                noCompressionUserAgents="gozilla, traviata"
    />
    <Connector port="8009" secretRequired="false" protocol="AJP/1.3" redirectPort="8443" />

    <Engine name="Catalina" defaultHost="localhost" jvmRoute="worker1">
        <Realm className="org.apache.catalina.realm.LockOutRealm">
          <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
        </Realm>

        <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="false" xmlNamespaceAware="false" xmlValidation="false">
 <!--           <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                        prefix="fxsolution_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b" /> -->
            <Context docBase="/Users/jspark226/IdeaProjects/fx-lounge/antBuild" path="" reloadable="true" sessionCookieName="tagoplusSolution1.JSESSIONID">

                <Resources>
                    <PostResources className="org.apache.catalina.webresources.DirResourceSet" webAppMount="/upload" base="/Users/jspark226/devspace/fx-lounge/upload" />
                </Resources>

            </Context>
        </Host>
    </Engine>

  </Service>
</Server>


