@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

/* header PC layout */
#wrap_header{position:absolute;  width:100%; min-width:320px; z-index:1000; top:0; z-index:5;}
.header {position:relative; width:100%; margin:0 auto; height:112px; max-width:1170px; padding:0px;}
.header h1{float:left; margin-top:40px; margin-left:0px;}


/* PC gnb */
.gnb{position:absolute; top:50px; right:-30px;}
.gnb li{float:left; margin:0}
.gnb li .gnb_tit{display:block; height:60px; padding:0 30px 5px; line-height:60px; font-weight:600;}

.gnb li .gnb_tit span{display:block; width:100%; text-align:center; font-size:18px; font-weight:500; color:#212121;}
.tnb{position:absolute; top:22px; right:0; box-sizing:border-box; border-radius:40px; box-sizing:border-box; }
.tnb ul li {float:left; padding:0 15px; position:relative; line-height:14px;}
.tnb ul li a {font-size:14px; font-weight:300;color:#777;display:block;line-height:1}
.tnb ul li::after {position:absolute; top:50%; transform:translateY(-50%); right:0; width:1px; height:15px; background:#cccccc; content:'';}
.tnb ul li:last-child::after {display:none;}
.tnb ul li:last-child {padding-right:0;}


.active .gnb li .gnb_tit.active span{color:#034275 !important;}
.active .gnb li .gnb_tit:hover  span{color:#034275 !important;}



.right_menu{float:right; width:110px; height:110px; background:#00aeef; padding:32px; cursor:pointer; display:none;}
.right_menu a{display:block; width:46px; height:46px;}
.right_menu a ul{display:block; width:46px; height:46px; overflow:hidden;}
.right_menu a ul li{display:block; float:left; height:2px; background:#fff; text-indent:-10000px; margin-top:10px; transition : all .4s;}
.right_menu a ul li:nth-child(1){width:100%; margin-top:10px;}
.right_menu a ul li:nth-child(2){width:100%;}
.right_menu a ul li:nth-child(3){width:100%;}
.right_menu a ul li.on:nth-of-type(1){
	-webkit-transform : translateY(4px) rotate(45deg);
	-ms-transform : translateY(4px) rotate(45deg);
	-moz-transform : translateY(4px) rotate(45deg);
	transform : translateY(4px) rotate(45deg);
	background:#12298c;
	width:100% !important;
	margin-top:20px;
}
.right_menu a ul li.on:nth-of-type(2){
	opacity : 0;
	background:#fff;
}
.right_menu a ul li.on:nth-of-type(3){
	-webkit-transform : translateY(-10px) rotate(-45deg);
	-ms-transform : translateY(-10px) rotate(-45deg);
	-moz-transform : translateY(-10px) rotate(-45deg);
	transform : translateY(-10px) rotate(-45deg);
	background:#12298c;
	width:100% !important;
	margin-top:0px;
}
.s_right_menu a ul li{background:#003876 !important;}

.gnb_list {position:relative;}
/*.snb_bg{position:absolute; z-index:9; top:111px; width:100%; height:305px; background:#fff url(/images/common/snb_bg.png) no-repeat left top;}*/
.gnb_bg{position:absolute; z-index:10; /*width:100%; min-width:1170px;*/ top:60px; left:50%; margin-left:-75px;}
.menu {position:absolute; left:0; top:0px; width:150px; height:auto; display:none; vertical-align:top; box-sizing:border-box; text-align:center; padding:10px 0; background:#034275;}
.menu:first-of-type { margin-left:0px; }
.menu:last-of-type { border-right:0; }
.menu > a.dep_no { display:none;  }
.menu li { display:inline-block; margin:0 !important; width:100%; padding:8px 0px;}
.menu li > a { display:inline-block; font-size:16px; color:rgba(255,255,255,0.5); font-weight:300; padding-bottom:0px; box-sizing:border-box;}
.menu li > a:hover{color:#fff; font-weight:300; box-sizing:border-box;}





/* header Mobile layout */
#wrap_header .header_top{float:left; width:100%; height:54px; background:#00b3ed; display:none;}


/* Mobile gnb */
nav#menu{width:100%; position:absolute;  top:0; left:0; z-index:5;}

.cate_content{float:left; width:100%;}
.nav_list{float:left; width:100%; padding:0;  min-width:320px;  padding-top:54px;}
.nav_list li{float:left; width:100%; cursor:pointer; border-bottom:1px solid #444; background:rgba(0,0,0,0.75);}
.nav_list li:first-child{border-top:1px solid #444;}
.nav_list li.nav_depth0 span{display:block; float:left; padding:12px 30px; width:100%; font-size:16px; font-weight:400; color:#fff; text-align:right;}
.nav_list li.nav_depth1 span{display:block; float:left; padding:12px 30px; width:100%; font-size:16px; font-weight:400; color:#fff; text-align:right; box-sizing:border-box;}
.nav_list li.nav_depth1 span:hover{color:#fff; font-weight:400;}
.nav_list li.nav_depth1 span:active{color:#fff; font-weight:400;}
.nav_list li.nav_depth1 span.span_down{color:#fff; font-weight:600; background:#00aeef;}
.nav_list li.nav_depth2{cursor:pointer; padding:12px 30px; font-size:14px; font-weight:400; color:rgba(255,255,255,0.9); text-align:right; border-bottom:1px solid #444; background:rgba(41,41,41,0.9); box-sizing:border-box;}
.nav_list li.nav_depth2:hover{text-decoration:underline;}
.nav_list li.depth2_last{border-bottom:1px solid #444;}
.nav_list li.nav_depth3{cursor:pointer;  padding:10px 30px;  line-height:20px; background:#f8f8f8; font-size:14px; text-align:left; color:#333; border-bottom:1px solid #444;}
.nav_list li.nav_depth3 a{font-size: 14px; font-weight:400; color: #333; background:#f8f8f8;}
.nav_list li.nav_depth3 a:hover{background:#f8f8f8;}
.nav_list li.nav_depth3 a:visited{background:#f8f8f8;}
.nav_list li.nav_depth3 a:active{background:#f8f8f8;}
.nav_list li.depth3_last{border-bottom:1px solid #e9ebee;}

.s_menu{top:54px !important;}
.s_menu .nav_list{padding-top:0px !important;}

.header h1.logo img.logo_w {display:none;}





.section_mcon01 {width:1170px; margin:0 auto; margin-top:-90px; position:relative; z-index:2; display:flex; box-shadow:2px 0 12px rgba(0,0,0,0.3);}
.section_mcon01 li {float:left; width:50%; background:#0088ee; padding:55px 60px; box-sizing:border-box;}
.section_mcon01 li * {color:#fff;}
.section_mcon01 li:last-child {background:#045da4;}

.section_mcon01 li h3 {float:left; width:150px; font-size:20px; padding-left:32px; background:url(/images/main/section_mcon01_ico01.png) no-repeat 0 center; line-height:1.1; box-sizing:Border-box;}
.section_mcon01 li:nth-child(2) h3 {background:url(/images/main/section_mcon01_ico02.png) no-repeat 0 center;}
.section_mcon01 li p {float:right; width:calc(100% - 150px); text-align:right;}
.section_mcon01 li p strong {display:block; font-family: 'Montserrat', sans-serif; font-size:40px; line-height:1.1; margin-top:-5px;}
.section_mcon01 li p span {font-weight:300; letter-spacing:-1px; display:block; margin-top:5px;}


.section_mcon02 {width:1170px; margin:0 auto; margin-top:100px;}
.section_mcon02::after {display:block; clear:both; content:'';}

.mcon02_list {float:left; min-width:100%; }
.mcon02_list table {width:100%; height:300px}
.mcon02_list table th {background:#606060; color:#fff; font-size:17px; }
.mcon02_list table td {text-align:center;background-color: #fff;}
.mcon02_list table td a {color:#045da4;}
.mcon02_list table tr {height:60px;}
.mcon02_list table tr {border-bottom:1px solid #d9d9d9}

.mcon02_list table tr:nth-child(2n) {background:#f5f5f5;}

.mcon02_arrow {display:inline-block; width:11px; vertical-align:middle; margin-top:-5px; margin-left:5px;}
.mcon02_arrow li {float:left; position:relative; width:100%; font-size:0; line-height:0; height:8px;}
.mcon02_arrow li:not(:first-child) {margin-top:3px;}
.mcon02_arrow li img {width:100%; cursor:pointer;}

.mcon02_box {float:right; width:440px; height:300px; background:#0088ee url(/images/main/mcon02_box_bg.jpg) no-repeat center 0; padding:65px 60px 0; box-sizing:border-box;}
.mcon02_box * {color:#fff;}
.mcon02_box h3 {padding-left:40px; background:url(/images/main/mcon02_ico.png) no-repeat 0 center; font-size:35px; color:#fff; font-weight:600; line-height:1.1;}
.mcon02_box p {font-size:18px; margin-top:10px;}
.bt_go,.bt_go:hover {display:inline-block; width:156px; height:50px; line-height:50px; text-align:center; border:1px solid #fff; margin-top:35px;box-sizing:border-box;}
.bt_go:hover {background:#045da4; border:1px solid #045da4; transition:all ease 0.3s; }
.bt_go span {padding-right:30px; background:url(/images/main/mcon02_box_arrow.png) no-repeat right center;}


.section_mcon03 {width:100%; position:relative; clear:both; background:#f5f5f5; margin-top:100px;}
.section_mcon03 > div {width:1170px; margin:0 auto; padding:100px 0; padding-right:450px; box-sizing:border-box; background:url(/images/main/mcon03_bg.jpg) no-repeat right 59px center;}
.section_mcon03 > div > h3 {font-size:35px; color:#045da4; font-weight:600;}
.section_mcon03 > div > p {font-size:18px; margin-top:10px;}
.section_mcon03 > div > .bt_go {color:#045da4; border:1px solid #045da4;}
.section_mcon03 > div > .bt_go:hover {background:#fff; border:1px solid #fff;}
.section_mcon03 > div > .bt_go span {background:url(/images/main/mcon03_arrow.png) no-repeat right center;}


.section_mcon04 {width:1170px; margin:0 auto; padding:80px 0;}
.section_mcon04::after {display:block; clear:both; content:'';}
.section_mcon04 .mcon04_list {margin:0 -15px;}
.section_mcon04 .mcon04_list li {float:left; width:25%; position:relative; padding:0 15px; box-sizing:border-box;}
.section_mcon04 .mcon04_list li a {display:block;}
.section_mcon04 .mcon04_list li a img {transition:all ease 0.3s;}
.section_mcon04 .mcon04_list li a:hover img {transform:rotate(360deg);}
.section_mcon04 .mcon04_list li p {position:absolute; width:calc(100% - 140px); right:0; top:50%; transform:translateY(-50%); font-size:20px; color:#0088ee; }
.section_mcon04 .mcon04_list li p span {padding-right:30px; background:url(/images/main/mcon04_arrow.png) no-repeat right center;}
.section_mcon04 .mcon04_list li:nth-child(2n) p span {color:#045da4;  background:url(/images/main/mcon03_arrow.png) no-repeat right center;}

footer {width:100%; position:relative; background:#333333; padding:30px 0;}
.f_menu {width:100%; position:relative; border-bottom:1px solid #191919;}
.f_menu ul {padding-bottom:20px; overflow:hidden;}
.f_menu ul,.f_add ul {width:1170px; margin:0 auto; }
.f_add {width:100%; position:relative; border-top:1px solid #515151;}
.f_add ul {padding-top:20px; overflow:hidden;}
.f_add ul li {float:left; margin:3px 0; margin-right:20px; color:#fff; font-size:15px;}
.f_add ul li:nth-child(5) {clear:both;}
.f_add ul li:nth-child(8) {clear:both;}


.f_menu ul li {float:left; margin-right:40px;}
.f_menu ul li a {font-size:16px; color:rgba(255,255,255,0.5); }



/*lnb*/
#wrap_lnb {position:relative; width:100%; margin-top:110px; z-index:4; background:#045da4;}
#wrap_lnb > div {width:1170px; margin:0 auto;  height:50px;}
#wrap_lnb > div::after {display:block; content:''; clear:Both;}

.lnb_home {float:left; padding:20px 0 0; width:50px; height:50px; box-sizing:border-box; text-align:center; position:relative;}
.lnb_home::before {position:absolute; content:''; top:0;  left:0; width:1px; height:100%; background:rgba(221,221,221,0.4);}
.lnb_home img {vertical-align:top;}
.lnb_select {float:left; position:relative; width:240px;}
.lnb_select::before {position:absolute; content:''; top:0;  left:0; width:1px; height:100%; background:rgba(221,221,221,0.4);}
.lnb_select:last-child::after {position:absolute; content:''; top:0;  right:0; width:1px; height:100%; background:rgba(221,221,221,0.4);}
.lnb_select > h3 {width:100%; position:relative; line-height:50px; padding-left:18px; box-sizing:border-box; cursor:pointer; color:#fff; font-weight:400;}
.lnb_select:last-child > h3 {font-weight:600;}
.lnb_select > h3::after {position:Absolute; content:''; top:46%; transform:translateY(-50%) rotate(-135deg); width:6px; height:6px; right:20px; border:0; border-top:2px solid #fff; border-left:2px solid #fff; opacity:0.8; }
.lnb_select > ul {display:none; position:absolute; top:50px; width:100%;background:#042b6c; }
.lnb_select > ul li {color:#fff; padding:10px 20px; box-sizing:border-box; width:100%; border-top:1px solid #021e4d; cursor:pointer;}
.lnb_select > ul li:hover {background:rgba(6,93,160,0.9);}
.lnb_select > ul li:first-child {border-top:0;}


.wrap_scon {width:100%; min-height:700px}
.scon::after,.wrap_scon::after {display:block; clear:both; content:'';}

.scon {padding:50px 0; width:1170px; margin:0 auto;}


@media screen and (max-width:1260px){
.header {padding:0 30px; box-sizing:border-box;}
.tnb {right:30px;}
.gnb {right:0;}

.section_mcon01 {width:calc(100% - 60px);}
.section_mcon01 li {padding:40px;}

.section_mcon02 {width:100%; padding:0 30px; box-sizing:border-box; }
.section_mcon03 > div {width:100%; padding:100px 30px; box-sizing:Border-box; padding-right:450px;}
.section_mcon03 > div > p br {display:none;}
.mcon04_list {overflow:hidden;}
.section_mcon04 {width:100%; padding:80px 30px; box-sizing:Border-box;}
.f_menu ul, .f_add ul {width:100%; padding:0 30px; box-sizing:border-box;}
.f_menu ul {padding-bottom:20px;}
.f_add ul {padding-top:20px;}

 #wrap_lnb > div {width:100%;}
 .scon {width:100%; padding:50px 30px; box-sizing:border-box;}
}


@media screen and (max-width:1160px){
.section_mcon01 li h3 {width:100%;}
.section_mcon01 li p {width:100%; margin-top:20px;}
.section_mcon01 li p strong {font-size:36px;}
}


@media screen and (max-width:1100px){
.gnb li .gnb_tit {padding:0 20px 5px;}
.gnb {right:10px;}
}

@media screen and (max-width:991px){

/* header Mobile layout */
.header{float:left; width:100%; height:54px; display:block; padding:0 0 0 15px; box-sizing:border-box;}
.header h1{margin-top:12px; margin-left:0;}


.header .gnb{display:none;}



.header .right_menu{width:54px; height:54px; margin:0px; padding:0; display:block; background:none;}
.header .right_menu a{display:block; float:left; width:54px; height:54px;}
.header .right_menu a ul{display:block; width:30px; margin-left:12px; margin-top:6px;}
.header .right_menu a ul li{display:block; float:left; width:100%; height:2px; background:#12298c; text-indent:-10000px; margin-top:8px; transition : all .4s;}
.header .right_menu a ul li:first-child{margin-top:10px;}

.right_menu a ul li.on:nth-of-type(1){transform: translateY(2px) rotate(45deg); margin-top:18px;}

.tnb,.tnb_bt {display:none;}



.header h1.logo img.logo_c {display:block;}
.header h1.logo.on img.logo_w {display:block;}
.header h1.logo.on img.logo_c {display:none;}

.header h1 img {width:150px;}



.mcon02_list {width:100%;}
.mcon02_box {width:100%; margin-top:30px;}

.section_mcon04 {padding:60px 30px 80px;}
.section_mcon04 .mcon04_list li {width:50%; margin-top:20px;}


#wrap_lnb {margin-top:54px;}


.join_list li input.join_input01 {width:calc(100% - 100px)!important;}


}


@media screen and (max-width:767px){
.section_mcon01 {display:block; width:100%; margin-top:0;}
.section_mcon01::after {display:block; clear:both; content:'';}
.section_mcon01 li {width:100%; padding:7.2464vw;}


.section_mcon01 li h3 {padding-left:6.9vw; font-size:4.8309vw; background-size:auto 5vw!important; }
.section_mcon01 li p strong {font-size:8.6957vw;}
.section_mcon01 li p span {margin-top:1.2077vw;}

.section_mcon02 {padding:0 7.2464vw; margin-top:13vw;}
.mcon02_list table th,.mcon02_list table td {font-size:3.8647vw;}
.mcon02_list table {height:72.4638vw;}
.mcon02_arrow {width:2.6570vw; margin-top:-1.2077vw; margin-left:1.2077vw;}
.mcon02_arrow li:not(:first-child) {margin-top:0.7246vw;}
.mcon02_box {margin-top:7.2464vw; height:72.4638vw; padding:8.5vw; height:auto;}
.mcon02_box h3 {padding-left:9.6618vw; font-size:7vw; background-size:7.7295vw 100%;}
.mcon02_box p {font-size:4.3478vw; margin-top:2.4155vw;}
.bt_go, .bt_go:hover {width:37.6812vw; height:12.0773vw; line-height:12.0773vw; margin-top:8.4541vw;}
.bt_go span {background-size:4.8309vw auto; padding-right:7.2464vw;}

.section_mcon03 {margin-top:13vw;}
.section_mcon03 > div {padding:13vw 7.2464vw; background-size:92.0290vw auto; padding-bottom:100vw; background-position:center bottom 13vw;}
.section_mcon03 > div > h3 {font-size:7vw;}
.section_mcon03 > div > p {font-size:4.3478vw; margin-top:2.4155vw;}
.section_mcon03 > div > .bt_go span {background-size: 4.8309vw auto;}

.section_mcon04 .mcon04_list li {width:100%; margin-top:4.8309vw;}
.section_mcon04 {padding:13vw 7.2464vw; }
.section_mcon04 .mcon04_list li:first-child {margin-top:0;}
.section_mcon04 .mcon04_list li a img {width:24.1546vw;}
.section_mcon04 .mcon04_list li p {width:calc(100% - 33.8164vw); font-size:4.8309vw;}
.section_mcon04 .mcon04_list li p span {padding-right:7.2464vw; background-size:4.8309vw auto!important;}

footer {padding:7.2464vw 0;}
.f_menu ul li a {font-size:3.4vw;}
.f_menu ul li {margin-right:8vw;}
.f_menu ul, .f_add ul {padding:0 7.2464vw;}
.f_menu ul {padding-bottom:4.8309vw;}
.f_add ul {padding-top:4.8309vw;}
.f_add ul li {font-size:3.4vw; margin:0.7246vw 0; margin-right:4.8309vw;}

.lnb_home {display:none;}
.lnb_select {width:100%;}
.lnb_select:not(:last-child) {display:none;}
.lnb_select:last-child::after,.lnb_select::before {display:none;}

#wrap_lnb > div {height:12vw;}
.lnb_select > h3 {line-height:12vw; padding-left:6vw; font-size:3.8vw;}
.lnb_select > h3::after {right:6vw; width:1.6vw; height:1.6vw;}
.lnb_select > ul {top:12vw;}

.lnb_select > ul li {padding:2vw 6vw;}

.scon {padding:10vw 7.2464vw;}



}
		
.popup_wrap { position:fixed; left:0; top:0; bottom:0; z-index:30; width:100%; height:100%; background:rgba(0,0,0,.6	); content:"";}	
.popup { position:fixed; left:50%; top:50%; width:600px; border-radius: 10px !important; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background-color:#fff;   border-radius: 10px !important;}	
.popup .title_area {position:relative; padding: 20px 25px;   border-radius: 10px 10px 0 0; background: url(../images/common/popup_title_bg.png) right 50% no-repeat #045da4; overflow:Hidden;}	
.popup .title_area h1  { font-size: 25px; color: #fff; font-weight:600;}	
.popup .title_area .btn_close {position:absolute; right:35px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);  display:inline-block; width:24px; height:24px; background:url(../images/common/btn_pop_close.png) ;}	
.popup .pop_cons {padding:25px;  max-height:70vh; line-height:1.7; overflow:auto}	
.popup .bo_area {padding:15px 25px; font-size:14px; background:#f5f5f5; border-radius: 0 0 10px 10px; overflow:hidden;}	
.popup .bo_area .fleft {float:left;}	
.popup .bo_area .fright {float:right;}	
@media screen and (max-width:760px){	
.popup .title_area h1  { font-size:5vw; color: #fff; font-weight:600;}	
.popup { position:fixed; left:50%; top:50%; width:90%; border-radius: 10px !important; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background-color:#fff;   border-radius: 10px !important;}	
}
