.popup_wrap { position:fixed; left:0; top:0; bottom:0; z-index:30; width:100%; height:100%; background:rgba(0,0,0,.6	); content:"";}
.popup { position:fixed; left:50%; top:50%; width:600px; border-radius: 10px !important; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background-color:#fff;   border-radius: 10px !important;}
.popup .title_area {position:relative; padding: 20px 25px;   border-radius: 10px 10px 0 0; background: url(/images/contents/popup_title_bg.png) right 50% no-repeat #00358e; overflow:Hidden;}
.popup .title_area h1  { font-size: 25px; color: #fff; font-weight:600;}
.popup .title_area .btn_close {position:absolute; right:35px; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);  display:inline-block; width:24px; height:24px; background:url(/images/contents/btn_pop_close.png) ;}
.popup .pop_cons {padding:25px;  max-height:55vh; line-height:1.7; overflow:auto}
.popup .bo_area {padding:15px 25px; font-size:14px; background:#f5f5f5; border-radius: 0 0 10px 10px; overflow:hidden;}
.popup .bo_area .fleft {float:left;}
.popup .bo_area .fright {float:right;}


@media screen and (max-width:760px){
.popup .title_area h1  { font-size:5vw; color: #fff; font-weight:600;}
.popup { position:fixed; left:50%; top:50%; width:90%; border-radius: 10px !important; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background-color:#fff;   border-radius: 10px !important;}
}


.result_wrapper{ position:fixed; left:0; top:0; bottom:0; z-index:30; width:100%; height:100%; background:rgba(0,0,0,.6	); content:"";}
.result{position:fixed;text-align:center; left:50%; top:50%; width:100%;max-width:320px; border-radius: 500px !important;color:white; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);height: 90px;line-height: 90px;font-size: 54px;}
.result.red{background-color:#d92222}
.result.blue{background-color:#4c84ff}